<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165123254036-hl9of25ineq7sctuv6jobekkee1t29rl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165123254036-hl9of25ineq7sctuv6jobekkee1t29rl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>165123254036-0n5n0heqpre1ntl3r39isb5n9jto9lr9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMKSSxhrY9dfnd9FUaNxkDjDl0HRcctVU</string>
	<key>GCM_SENDER_ID</key>
	<string>165123254036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.esenciasdemitierra</string>
	<key>PROJECT_ID</key>
	<string>bd-esenciasdemitierra</string>
	<key>STORAGE_BUCKET</key>
	<string>bd-esenciasdemitierra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165123254036:ios:545c69c941112f789dc401</string>
	<key>DATABASE_URL</key>
	<string>https://bd-esenciasdemitierra-default-rtdb.firebaseio.com</string>
</dict>
</plist>